[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
scipy = "==0.13.0"
gunicorn = "*"
numpy = "==1.9.0"


[dev-packages]



[requires]

python_version = "2.7"